[submodule "ranger/.config/ranger/plugins/zoxide"]
	path = ranger/.config/ranger/plugins/zoxide
	url = git@github.com:jchook/ranger-zoxide.git
[submodule "ranger/.config/ranger/plugins/ranger_devicons"]
	path = ranger/.config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons.git
[submodule "tmux/tmux-gpakosz"]
	path = tmux/tmux-gpakosz
	url = https://github.com/gpakosz/.tmux
[submodule "tmux/plugins/tmux-thumbs"]
	path = tmux/plugins/tmux-thumbs
	url = https://github.com/fcsonline/tmux-thumbs
[submodule "tmux/plugins/tmux-url-select"]
	path = tmux/plugins/tmux-url-select
	url = https://github.com/dequis/tmux-url-select.git
[submodule "zsh/plugins/fzf-tab"]
	path = zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "zsh/plugins/zsh-completions"]
	path = zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/plugins/wd"]
	path = zsh/plugins/wd
	url = https://github.com/mfaerevaag/wd.git
[submodule "zsh/plugins/zsh-lazyload"]
	path = zsh/plugins/zsh-lazyload
	url = https://github.com/qoomon/zsh-lazyload.git
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/zsh-easy-motion"]
	path = zsh/plugins/zsh-easy-motion
	url = https://github.com/IngoMeyer441/zsh-easy-motion.git
[submodule "tmux/plugins/tmux-easy-motion"]
	path = tmux/plugins/tmux-easy-motion
	url = https://github.com/IngoMeyer441/tmux-easy-motion.git
