[include]
    # linux path
    path = /disks/Vault/Secret_Files/user-gitconfig
    # macos path
    path = /Volumes/VeraCrypt/Secret_Files/user-gitconfig


[core]
	editor = nvim
	pager = delta

[diff]
	tool = kdiff3

[log]
	date = relative

[pull]
    rebase = false
    ff = only

[branch]
    autoSetupMerge=false
    autoSetupRebase=never

[pager]
	diff = delta
#	log = delta
#	reflog = delta
#	show = delta

[interactive]
    ; diffFilter = delta --color-only  --features=interactive

[delta "interactive"]
    keep-plus-minus-markers = false

[delta]
	commit-style                  = raw
	file-style                    = "#bababa bold italic #222222"
	hunk-header-style             = syntax
	minus-style                   = normal "#3f0001"
	minus-non-emph-style          = normal "#3f0001"
	minus-emph-style              = normal "#901011"
	minus-empty-line-marker-style = normal "#3f0001"
	zero-style                    = dim syntax
	plus-style                    = syntax "#002800"
	plus-non-emph-style           = syntax "#002800"
	plus-emph-style               = syntax "#006000"
	plus-empty-line-marker-style  = normal "#002800"
	whitespace-error-style        = syntax "#006000"
	blame-palette                 = "#000000 #222222 #444444"
	true-color                    = auto
	file-added-label              = 🟢 A
	file-modified-label           = 🟠 M
	file-removed-label            = 🔴 D
	file-renamed-label            = 🟤 R
	right-arrow                   = '⟶  '
	hyperlinks                    = false
	inspect-raw-lines             = true
	keep-plus-minus-markers       = false
	line-numbers                  = true
	line-numbers-minus-style      = 88
	line-numbers-zero-style       = "#444444"
	line-numbers-plus-style       = 28
	line-numbers-left-style       = "blue"
	line-numbers-right-style      = "blue"
	line-numbers-left-format      = "{nm:^4}⋮"
	# line-numbers-right-format     = "{np:^4}│"
	line-numbers-right-format     = "{np:^4}"
	max-line-distance             = 0.6
	max-line-length               = 512
	line-fill-method              = "ansi"
	navigate                      = true
	# navigate-regex                = ""
	# pager                         = "less"
	paging                        = auto
	side-by-side                  = false
	syntax-theme                  = "Monokai Extended"
	width                         = 180
	tabs                          = 4


#[format]
#	pretty = format:%C(auto,yellow)%h%C(auto,magenta)% G? %C(auto,blue)%>(12,trunc)%ad %C(auto,green)%<(16,trunc)%aN%C(auto,reset)%s%C(auto,red)% gD% D
[init]
	defaultBranch = master

[alias]
	tag-date = log --tags --simplify-by-decoration --pretty=\"format:%ci %d\"
